@{
    @model CustomerAddressViewModel;
    var addressType = Model.AddressType!.Replace(" ", "-");
    var accountNumber = ViewData["accountNumber"] as string;
}

<div class="modal fade" id="deleteAddressModal-@addressType" tabindex="-1" role="dialog" aria-labelledby="deleteAddressModalLabel-@addressType" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteContactModalLabel-@addressType">Delete Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
                <a asp-action="DeleteAddress" asp-route-accountNumber="@accountNumber" asp-route-addressType="@Model.AddressType" class="btn btn-primary">Delete Address</a>
            </div>
        </div>
    </div>
</div>