@using AW.UI.Web.Store.ViewModels.ProductMenu 
@model ProductMenuComponentViewModel

@foreach (var category in Model.Categories)
{
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarCategory" role="button" data-toggle="dropdown">@category.Name</a>

        <div class="dropdown-menu megamenu" aria-labelledby="navbarCategory">
            <div class="dropdown-inner">
                <ul class="list-unstyled">
                    @foreach (var subcategory in category.Subcategories)
                    {
                        string linkText = $"{subcategory.Name} ({subcategory.ProductCount})";
                        <li>
                            @Html.ActionLink(linkText, "Index", "Product", new { productCategory = category.Name, productSubcategory = subcategory.Name }, new { @class = "dropdown-item" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </li>
}