################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
packages
!packages/repositories.config

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

appsettings.Development.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
/data/sql
*.dbmdl
*.jfm
**/inf.dev*.yaml
/src/Services/Product/productphotos
/src/UI/Admin/src/AW.UI.Web.Admin.Mvc/wwwroot/node_modules/puppeteer/.local-chromium/win64-1022525/chrome-win
**/appsettings.Development.json
