@{
    ViewData["Title"] = $"Customer detail - {Model.Customer.CustomerName}";
    @model CustomerDetailViewModel;
}

@if (Model.Customer.CustomerType == CustomerType.Individual)
{
    <partial name="_customerIndividual" for="@Model.Customer" />
}
else if (Model.Customer.CustomerType == CustomerType.Store)
{
    <partial name="_customerStore" for="@Model.Customer" />
}

@section Scripts
{
    <script>
        $(document).on('ready', function () {
            // INITIALIZATION OF DATATABLES
            // =======================================================
            HSCore.components.HSDatatables.init($('#datatableContacts'), {
                select: {
                    style: 'multi',
                    selector: 'td:first-child input[type="checkbox"]',
                    classMap: {
                        checkAll: '#datatableContactsCheckAll',
                        counter: '#datatableContactsCounter',
                        counterInfo: '#datatableContactsCounterInfo'
                    }
                },
                language: {
                    zeroRecords: `<div class="text-center p-4">
                                                      <img class="mb-3" src="../assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
                                                      <img class="mb-3" src="../assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
                                                    <p class="mb-0">No data to show</p>
                                                    </div>`
                }
            });

            HSCore.components.HSDatatables.init($('#datatableSalesOrders'), {
                select: {
                    style: 'multi',
                    selector: 'td:first-child input[type="checkbox"]',
                    classMap: {
                        checkAll: '#datatableSalesOrdersCheckAll',
                        counter: '#datatableSalesOrdersCounter',
                        counterInfo: '#datatableSalesOrdersCounterInfo'
                    }
                },
                language: {
                    zeroRecords: `<div class="text-center p-4">
                                                              <img class="mb-3" src="../assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
                                                              <img class="mb-3" src="../assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
                                                            <p class="mb-0">No data to show</p>
                                                            </div>`
                }
            });

            $('.js-select-country-new').change(function (e) {
                alert('test');
                var dropdown = $('.js-select-stateprovince-new');

                if (this.value == "--Select--") {
                    dropdown.empty();
                    dropdown.prop('disabled', true);
                }
                else {
                    dropdown.prop('disabled', false);
                    getStatesProvinces(this.value, dropdown, "@Url.Action("GetStatesProvinces", new { country = "js-country" })"
                        .replace("js-country", this.value)
                    );
                }
            });
        });
    </script>
}