@{
    ViewData["Title"] = "Home Page";
    @model ProductsIndexViewModel;
}

@if (Model.Products.Any())
{
    <partial name="_pagination" for="@Model.PaginationInfo" />
    <div class="aw-products-items row">
        @foreach (var product in Model.Products)
        {
            <div class="aw-products-item col-md-4">
                <partial name="_product" for="@product" />
            </div>
        }
    </div>
}
else
{
    <div class="row">
        THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
    </div>
}