/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Pager */

.aw-pager-wrapper {
    padding-top: 1rem;
    text-align: center;
}

.aw-pager-item-left {
    float: left;
}

.aw-pager-item-right {
    float: right;
}

.aw-pager-item--navigable {
    display: inline-block;
    cursor: pointer;
}

    .aw-pager-item--navigable.is-disabled {
        opacity: 0;
        pointer-events: none;
    }

    .aw-pager-item--navigable:hover {
        color: #83D01B;
    }

@media screen and (max-width: 1280px) {
    .aw-pager-item {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 1024px) {
    .aw-pager-item {
        margin: 0 4vw;
    }
}

/* Products */

.aw-products-items {
    margin-top: 1rem;
}

.aw-products-item {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 33%;
    display: inline-block;
    float: none !important;
}

.aw-products-thumbnail {
    max-width: 370px;
    width: 100%;
}

.aw-products-button {
    background-color: #83D01B;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    margin-top: 1rem;
    transition: all 0.35s;
    width: 80%;
}

    .aw-products-button.is-disabled {
        opacity: .5;
        pointer-events: none;
    }

    .aw-products-button:hover {
        background-color: #4a760f;
        transition: all 0.35s;
    }

.aw-products-name {
    font-size: 1rem;
    font-weight: 300;
    margin-top: .5rem;
    text-align: center;
    text-transform: uppercase;
}

.aw-products-price {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

.aw-products-price::before {
    content: '$';
}