.aw-pager-wrapper {
    padding-top: 1rem;
    text-align: center;
}

.aw-pager-item-left {
    float: left;
}

.aw-pager-item-right {
    float: right;
}

.aw-pager-item--navigable {
    display: inline-block;
    cursor: pointer;
}

.aw-pager-item--navigable.is-disabled {
    opacity: 0;
    pointer-events: none;
}

.aw-pager-item--navigable:hover {
    color: #83D01B;
}

@media screen and (max-width: 1280px) {
    .aw-pager-item {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 1024px) {
    .aw-pager-item {
        margin: 0 4vw;
    }
}