.aw-products-thumbnail {
    max-width: 370px;
    width: 100%;
}

.aw-products-button {
    background-color: #83D01B;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    margin-top: 1rem;
    transition: all 0.35s;
    width: 80%;
}

.aw-products-button.is-disabled {
    opacity: .5;
    pointer-events: none;
}

.aw-products-button:hover {
    background-color: #4a760f;
    transition: all 0.35s;
}

.aw-products-name {
    font-size: 1rem;
    font-weight: 300;
    margin-top: .5rem;
    text-align: center;
    text-transform: uppercase;
}

.aw-products-price {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

.aw-products-price::before {
    content: '$';
}