@using AW.UI.Web.Store.Services

@inject IIdentityParser<ApplicationUser> UserManager
<!-- my account -->
<div class="col-sm-8">
    <div class="text_account_wrapper pull-right">
        @if (User.FindFirst(x => x.Type == "given_name") != null)
        {
            <div class="header_transaction">Welcome @User.FindFirst(x => x.Type == "given_name").Value</div>

            <div class="header_transaction header_account">
                <a href="#" title="My Account" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-o faicons"></i> <span class="hidden-xs hidden-sm hidden-md">My Account</span> <span class="caret"></span></a>
                <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm" class="navbar-right">
                    <ul class="dropdown-menu dropdown-menu-right megamenu">
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                Logout
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
            <!-- wishlist -->
            <div class="header_transaction header_wishlist">
                <a href="wish-list.html" id="wishlist-total" title="Wish List (0)"><i class="fa fa-heart faicons"></i> <span class="hidden-xs hidden-sm hidden-md">Wish List (0)</span></a>
            </div>
            <!-- cart -->
            <div class="header_transaction header_cart">
                @await Component.InvokeAsync("Cart", new { user = UserManager.Parse(User) })
            </div>
        }
        else
        {
            <div class="header_transaction header_account">
                <a href="#" title="My Account" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-o faicons"></i> <span class="hidden-xs hidden-sm hidden-md">My Account</span> <span class="caret"></span></a>
                <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm" class="navbar-right">
                    <ul class="dropdown-menu dropdown-menu-right megamenu">
                        <li>
                            <a href="register.html">Register</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="SignIn">
                                Login
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
        }
    </div>
</div>

<!-- search -->
<div class=" search_and_cart_wrapper_header">
    <div class="text-right cart-menu">
        <div class="search_wrapper">
            <a class="ebsearch"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div id="search" class="input-group">
        <span class="close">x</span>
        <div class="bikes_search">
            <p>Find Your Desire</p>
        </div>
        <input value="" class="esearch" name="search" type="search" placeholder="Search here">
        <span class="input-group-btn searchicon">
            <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
        </span>
    </div>
</div>