<div class="modal fade" id="addImageFromURLModal" tabindex="-1" aria-labelledby="addImageFromURLModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="addImageFromURLModalLabel">Add image from URL</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <label for="pasteImageURLNameLabel" class="form-label">Paste image URL</label>
        <input type="text" class="form-control" name="projectName" id="pasteImageURLNameLabel" placeholder="https://" aria-label="https://">
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="modal-footer gap-3">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        <button type="button" class="btn btn-primary">Add media</button>
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>