<div class="modal fade" id="exportCustomersGuideModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi-x-lg"></i>
        </button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body p-sm-5">
        <div class="text-center mb-5">
          <h4 class="h1">Welcome to Front Customers</h4>
        </div>

        <!-- Media -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="avatar avatar-xl avatar-4x3" src="@@autopath/assets/svg/illustrations/oc-chatting.svg" alt="Image Description" data-hs-theme-appearance="default">
            <img class="avatar avatar-xl avatar-4x3" src="@@autopath/assets/svg/illustrations-light/oc-chatting.svg" alt="Image Description" data-hs-theme-appearance="dark">
          </div>

          <div class="flex-grow-1 ms-4">
            <h4>All your customers in one place</h4>
            <p>The E-commerce is where you can view &amp; manage your customers and all their activity at your business.</p>
          </div>
        </div>
        <!-- End Media -->

        <hr class="my-4">

        <!-- Media -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img class="avatar avatar-xl avatar-4x3" src="@@autopath/assets/svg/illustrations/oc-looking-for-answers.svg" alt="Image Description" data-hs-theme-appearance="default">
            <img class="avatar avatar-xl avatar-4x3" src="@@autopath/assets/svg/illustrations-light/oc-looking-for-answers.svg" alt="Image Description" data-hs-theme-appearance="dark">
          </div>

          <div class="flex-grow-1 ms-4">
            <h4>Search, sort, filter, and group your customers</h4>
            <p>Quickly find the customers you need, and organize them however you prefer.</p>
          </div>
        </div>
        <!-- End Media -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Continue</button>
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>
