<div class="modal fade" id="exportProductsModal" tabindex="-1" aria-labelledby="exportProductsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="exportProductsModalLabel">Export products</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <p>This CSV file can update all product information. To update just inventory quantites use the <a class="link" href="#">CSV file for inventory.</a></p>
  
        <div class="mb-4">
          <label class="form-label">Export</label>

          <div class="d-grid gap-2">
            <!-- Form Check -->
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exportProductsRadio" id="exportProductsRadio1" checked>
              <label class="form-check-label" for="exportProductsRadio1">
                Current page
              </label>
            </div>
            <!-- End Form Check -->

            <!-- Form Check -->
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exportProductsRadio" id="exportProductsRadio2">
              <label class="form-check-label" for="exportProductsRadio2">
                All products
              </label>
            </div>
            <!-- End Form Check -->
            
            <!-- Form Check -->
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exportProductsRadio" id="exportProductsRadio3">
              <label class="form-check-label" for="exportProductsRadio3">
                Selected: 20 products
              </label>
            </div>
            <!-- End Form Check -->
          </div>
        </div>
  
        <label class="form-label">Export as</label>

        <!-- Form Check -->
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exportProductsAsRadio" id="exportProductsAsRadio1" checked>
          <label class="form-check-label" for="exportProductsAsRadio1">
            CSV for Excel, Numbers, or other spreadsheet programs
          </label>
        </div>
        <!-- End Form Check -->

        <!-- Form Check -->
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exportProductsAsRadio" id="exportProductsAsRadio2">
          <label class="form-check-label" for="exportProductsAsRadio2">
            Plain CSV file
          </label>
        </div>
        <!-- End Form Check -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="modal-footer gap-3">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        <button type="button" class="btn btn-primary">Export products</button>
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>