<div class="modal fade" id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newProjectModalLabel">New project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <!-- Step Form -->
        <form class="js-step-form"
              data-hs-step-form-options='{
                "progressSelector": "#createProjectStepFormProgress",
                "stepsSelector": "#createProjectStepFormContent",
                "endSelector": "#createProjectFinishBtn",
                "isValidate": false
              }'>
          <!-- Step -->
          <ul id="createProjectStepFormProgress" class="js-step-progress step step-sm step-icon-sm step-inline step-item-between mb-3 mb-sm-7">
            <li class="step-item">
              <a class="step-content-wrapper" href="javascript:;"
                 data-hs-step-form-next-options='{
                  "targetSelector": "#createProjectStepDetails"
                }'>
                <span class="step-icon step-icon-soft-dark">1</span>
                <div class="step-content">
                  <span class="step-title">Details</span>
                </div>
              </a>
            </li>

            <li class="step-item">
              <a class="step-content-wrapper" href="javascript:;"
                 data-hs-step-form-next-options='{
                   "targetSelector": "#createProjectStepTerms"
                 }'>
                <span class="step-icon step-icon-soft-dark">2</span>
                <div class="step-content">
                  <span class="step-title">Terms</span>
                </div>
              </a>
            </li>

            <li class="step-item">
              <a class="step-content-wrapper" href="javascript:;"
                 data-hs-step-form-next-options='{
                   "targetSelector": "#createProjectStepMembers"
                 }'>
                <span class="step-icon step-icon-soft-dark">3</span>
                <div class="step-content">
                  <span class="step-title">Members</span>
                </div>
              </a>
            </li>
          </ul>
          <!-- End Step -->

          <!-- Content Step Form -->
          <div id="createProjectStepFormContent">
            <div id="createProjectStepDetails" class="active">
              <!-- Form -->
              <div class="mb-4">
                <label class="form-label">Project logo</label>

                <div class="d-flex align-items-center">
                  <!-- Avatar -->
                  <label class="avatar avatar-xl avatar-circle avatar-uploader me-5" for="avatarNewProjectUploader">
                    <img id="avatarNewProjectImg" class="avatar-img" src="@@autopath/assets/img/160x160/img2.jpg" alt="Image Description">

                    <input type="file" class="js-file-attach avatar-uploader-input" id="avatarNewProjectUploader"
                           data-hs-file-attach-options='{
                              "textTarget": "#avatarNewProjectImg",
                              "mode": "image",
                              "targetAttr": "src",
                              "resetTarget": ".js-file-attach-reset-img",
                              "resetImg": "@@autopath/assets/img/160x160/img1.jpg",
                              "allowTypes": [".png", ".jpeg", ".jpg"]
                           }'>

                    <span class="avatar-uploader-trigger">
                      <i class="bi-pencil-fill avatar-uploader-icon shadow-sm"></i>
                    </span>
                  </label>
                  <!-- End Avatar -->

                  <button type="button" class="js-file-attach-reset-img btn btn-white">Delete</button>
                </div>
              </div>
              <!-- End Form -->

              <!-- Form -->
              <div class="mb-4">
                <label for="clientNewProjectLabel" class="form-label">Client</label>

                <div class="row align-items-center">
                  <div class="col-12 col-md-7 mb-3">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend input-group-text">
                        <i class="bi-person-square"></i>
                      </div>
                      <input class="form-control" id="clientNewProjectLabel" placeholder="Add creater name" aria-label="Add creater name">
                    </div>
                  </div>
                  <!-- End Col -->

                  <span class="col-auto mb-3">or</span>

                  <div class="col-md mb-md-3">
                    <a class="btn btn-white" href="javascript:;">
                      <i class="tio-add me-1"></i>New client
                    </a>
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </div>
              <!-- End Form -->

              <!-- Form -->
              <div class="mb-4">
                <label for="projectNameNewProjectLabel" class="form-label">Project name <i class="bi-question-circle text-body ms-1" data-toggle="tooltip" data-placement="top" title="Displayed on public forums, such as Front."></i></label>

                <div class="input-group input-group-merge">
                  <div class="input-group-prepend input-group-text">
                    <i class="bi-briefcase"></i>
                  </div>
                  <input type="text" class="form-control" name="projectName" id="projectNameNewProjectLabel" placeholder="Enter project name here" aria-label="Enter project name here">
                </div>
              </div>
              <!-- End Form -->

              <!-- Quill -->
              <div class="mb-4">
                <label class="form-label">Project description <span class="form-label-secondary">(Optional)</span></label>

                <!-- Quill -->
                <div class="quill-custom">
                  <div class="js-quill" style="height: 15rem;"
                       data-hs-quill-options='{
                       "placeholder": "Type your message...",
                        "modules": {
                          "toolbar": [
                            ["bold", "italic", "underline", "strike", "link", "image", "blockquote", "code", {"list": "bullet"}]
                          ]
                        }
                       }'>
                  </div>
                </div>
                <!-- End Quill -->
              </div>
              <!-- End Quill -->

              <div class="row">
                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label for="projectDeadlineNewProjectLabel" class="form-label">Due date</label>

                    <div id="projectDeadlineNewProject" class="input-group input-group-merge">
                      <div class="input-group-prepend input-group-text">
                        <i class="bi-calendar-week"></i>
                      </div>

                      <input type="text" class="form-control" id="projectDeadlineNewProjectLabel" placeholder="Select dates">
                    </div>
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->

                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label for="ownerNewProjectLabel" class="form-label">Owner</label>

                    <!-- Select -->
                    <div class="tom-select-custom">
                      <select class="js-select form-select" id="ownerNewProjectLabel"
                              data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true
                              }'>
                        <option value="owner1" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle" src="@@autopath/assets/img/160x160/img6.jpg" alt="Avatar" /><span class="flex-grow-1 ms-2">Mark Williams</span></span>'>Mark Williams</option>
                        <option value="owner2" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle" src="@@autopath/assets/img/160x160/img10.jpg" alt="Avatar" /><span class="flex-grow-1 ms-2">Amanda Harvey</span></span>'>Amanda Harvey</option>
                        <option value="owner3" selected data-option-template='<span class="d-flex align-items-center"><i class="bi-person text-body"></i><span class="flex-grow-1 ms-2">Assign to owner</span></span>'>Assign to owner</option>
                      </select>
                     </div>
                    <!-- End Select -->
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->

              <!-- Form -->
              <div class="mb-4">
                <label class="form-label">Attach files</label>

                <!-- Dropzone -->
                <div id="attachFilesNewProjectLabel" class="js-dropzone dz-dropzone dz-dropzone-card">
                  <div class="dz-message">
                    <img class="avatar avatar-xl avatar-4x3 mb-3" src="@@autopath/assets/svg/illustrations/oc-browse.svg" alt="Image Description" data-hs-theme-appearance="default">
                    <img class="avatar avatar-xl avatar-4x3 mb-3" src="@@autopath/assets/svg/illustrations-light/oc-browse.svg" alt="Image Description" data-hs-theme-appearance="dark">

                    <h5>Drag and drop your file here</h5>

                    <p class="mb-2">or</p>

                    <span class="btn btn-white btn-sm">Browse files</span>
                  </div>
                </div>
                <!-- End Dropzone -->
              </div>
              <!-- End Form -->

              <label class="form-label">Default view</label>

              <div class="input-group input-group-md-vertical">
                <!-- Radio Check -->
                <label class="form-control" for="projectViewNewProjectTypeRadio1">
                  <span class="form-check form-check-reverse">
                    <input type="radio" class="form-check-input" name="projectViewNewProjectTypeRadio" id="projectViewNewProjectTypeRadio1">
                    <span class="form-check-label"><i class="bi-view-list text-muted me-2"></i> List</span>
                  </span>
                </label>
                <!-- End Radio Check -->

                <!-- Radio Check -->
                <label class="form-control" for="projectViewNewProjectTypeRadio2">
                  <span class="form-check form-check-reverse">
                    <input type="radio" class="form-check-input" name="projectViewNewProjectTypeRadio" id="projectViewNewProjectTypeRadio2" checked>
                    <span class="form-check-label"><i class="bi-table text-muted me-2"></i> Table</span>
                  </span>
                </label>
                <!-- End Radio Check -->

                <!-- Radio Check -->
                <label class="form-control" for="projectViewNewProjectTypeRadio3">
                  <span class="form-check form-check-reverse">
                    <input type="radio" class="form-check-input" name="projectViewNewProjectTypeRadio" id="projectViewNewProjectTypeRadio3" disabled>
                    <span class="form-check-label">Timeline</span>
                    <span class="badge bg-soft-primary text-primary rounded-pill">Coming soon...</span>
                  </span>
                </label>
                <!-- End Radio Check -->
              </div>

              <!-- Footer -->
              <div class="d-flex align-items-center mt-5">
                <div class="ms-auto">
                  <button type="button" class="btn btn-primary"
                          data-hs-step-form-next-options='{
                            "targetSelector": "#createProjectStepTerms"
                          }'>
                    Next <i class="bi-chevron-right"></i>
                  </button>
                </div>
              </div>
              <!-- End Footer -->
            </div>

            <div id="createProjectStepTerms" style="display: none;">
              <div class="row">
                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label for="paymentTermsNewProjectLabel" class="form-label">Terms</label>

                    <!-- Select -->
                    <div class="tom-select-custom">
                      <select class="js-select form-select" id="paymentTermsNewProjectLabel"
                              data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true
                              }'>
                        <option value="fixed" selected>Fixed</option>
                        <option value="Per hour">Per hour</option>
                        <option value="Per day">Per day</option>
                        <option value="Per week">Per week</option>
                        <option value="Per month">Per month</option>
                        <option value="Per quarter">Per quarter</option>
                        <option value="Per year">Per year</option>
                      </select>
                     </div>
                    <!-- End Select -->
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->

                <div class="col-sm-6">
                  <label for="expectedValueNewProjectLabel" class="form-label">Expected value</label>

                  <!-- Form -->
                  <div class="mb-4">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend input-group-text">
                        <i class="bi-currency-dollar"></i>
                      </div>
                      <input type="text" class="form-control" name="expectedValue" id="expectedValueNewProjectLabel" placeholder="Enter value here" aria-label="Enter value here">
                    </div>
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->
              </div>
              <!-- End Form Row -->

              <div class="row">
                <div class="col-lg-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label for="milestoneNewProjectLabel" class="form-label">Milestone <a class="small ms-1" href="javascript:;">Change probability</a></label>

                    <!-- Select -->
                    <div class="tom-select-custom">
                      <select class="js-select form-select" id="milestoneNewProjectLabel"
                              data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true
                              }'>
                        <option value="New">New</option>
                        <option value="Qualified">Qualified</option>
                        <option value="Meeting">Meeting</option>
                        <option value="Proposal">Proposal</option>
                        <option value="Negotiation">Negotiation</option>
                        <option value="Contact">Contact</option>
                      </select>
                     </div>
                    <!-- End Select -->
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->

                <div class="col-lg-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label for="privacyNewProjectLabel" class="form-label me-2">Privacy</label>

                    <!-- Select -->
                    <div class="tom-select-custom">
                      <select class="js-select form-select" id="privacyNewProjectLabel"
                              data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true
                              }'>
                        <option value="privacy1" data-option-template='<span class="d-flex"><i class="bi-people fs2 text-body"></i><span class="flex-grow-1 ms-2"><span class="d-block">Everyone</span><small class="tom-select-custom-hide">Public to Front Dashboard</small></span></span>'>Everyone</option>
                        <option value="privacy2" disabled data-option-template='<span class="d-flex"><i class="bi-lock fs2 text-body"></i><span class="flex-grow-1 ms-2"><span class="d-block">Private to project members <span class="badge bg-soft-primary text-primary">Upgrade to Premium</span></span><small class="tom-select-custom-hide">Only visible to project members</small></span></span>'>Private to project members</option>
                        <option value="privacy3" data-option-template='<span class="d-flex"><i class="bi-person fs2 text-body"></i><span class="flex-grow-1 ms-2"><span class="d-block">Private to me</span><small class="tom-select-custom-hide">Only visible to you</small></span></span>'>Private to me</option>
                      </select>
                     </div>
                    <!-- End Select -->
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->
              </div>
              <!-- End Form Row -->

              <div class="d-grid gap-2">
                <!-- Check -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="budgetNewProjectCheckbox">
                  <label class="form-check-label" for="budgetNewProjectCheckbox">
                    Budget resets every month
                  </label>
                </div>
                <!-- End Check -->

                <!-- Check -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="emailAlertNewProjectCheckbox" checked>
                  <label class="form-check-label" for="emailAlertNewProjectCheckbox">
                    Send email alerts if project exceeds <span class="font-weight-bold">50.00%</span> of budget
                  </label>
                </div>
                <!-- End Check -->
              </div>

              <!-- Footer -->
              <div class="d-flex align-items-center mt-5">
                <button type="button" class="btn btn-ghost-secondary me-2"
                   data-hs-step-form-prev-options='{
                     "targetSelector": "#createProjectStepDetails"
                   }'>
                  <i class="bi-chevron-left"></i> Previous step
                </button>

                <div class="ms-auto">
                  <button type="button" class="btn btn-primary"
                          data-hs-step-form-next-options='{
                            "targetSelector": "#createProjectStepMembers"
                          }'>
                    Next <i class="bi-chevron-right"></i>
                  </button>
                </div>
              </div>
              <!-- End Footer -->
            </div>

            <div id="createProjectStepMembers" style="display: none;">
              <!-- Form -->
              <div class="mb-4">
                <div class="input-group mb-2 mb-sm-0">
                  <input type="text" class="form-control" name="fullName" placeholder="Search name or emails" aria-label="Search name or emails">

                  <div class="input-group-append input-group-append-last-sm-down-none">
                    <!-- Select -->
                    <div class="tom-select-custom tom-select-custom-end">
                      <select class="js-select form-select tom-select-custom-form-select-invite-user" autocomplete="off"
                              data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true,
                                "dropdownWidth": "11rem"
                              }'>
                        <option value="guest" selected>Guest</option>
                        <option value="can edit">Can edit</option>
                        <option value="can comment">Can comment</option>
                        <option value="full access">Full access</option>
                      </select>
                    </div>
                    <!-- End Select -->

                    <a class="btn btn-primary d-none d-sm-inline-block" href="javascript:;">Invite</a>
                  </div>
                </div>

                <a class="btn btn-primary w-100 d-sm-none" href="javascript:;">Invite</a>
              </div>
              <!-- End Form -->

              <ul class="list-unstyled list-py-3 mb-5">
                <!-- List Group Item -->
                <li>
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <span class="icon icon-soft-dark icon-sm icon-circle">
                        <i class="bi-people-fill"></i>
                      </span>
                    </div>

                    <div class="flex-grow-1 ms-3">
                      <div class="row align-items-center">
                        <div class="col-sm">
                          <h5 class="text-body mb-0">#digitalmarketing</h5>
                          <span class="d-block fs-6">8 members</span>
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-auto">
                          <!-- Select -->
                          <div class="tom-select-custom tom-select-custom-sm-end">
                            <select class="js-select form-select form-select-borderless tom-select-custom-form-select-invite-user tom-select-form-select-ps-0" autocomplete="off"
                                    data-hs-tom-select-options='{
                                      "searchInDropdown": false,
                                      "hideSearch": true,
                                      "dropdownWidth": "11rem"
                                    }'>
                              <option value="guest" selected>Guest</option>
                              <option value="can edit">Can edit</option>
                              <option value="can comment">Can comment</option>
                              <option value="full access">Full access</option>
                              <option value="remove" data-option-template='<div class="text-danger">Remove</div>'>Remove</option>
                            </select>
                          </div>
                          <!-- End Select -->
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                </li>
                <!-- End List Group Item -->

                <!-- List Group Item -->
                <li>
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <div class="avatar avatar-sm avatar-circle">
                        <img class="avatar-img" src="@@autopath/assets/img/160x160/img3.jpg" alt="Image Description">
                      </div>
                    </div>

                    <div class="flex-grow-1 ms-3">
                      <div class="row align-items-center">
                        <div class="col-sm">
                          <h5 class="text-body mb-0">David Harrison</h5>
                          <span class="d-block fs-6">david@site.com</span>
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-auto">
                          <!-- Select -->
                          <div class="tom-select-custom tom-select-custom-sm-end">
                            <select class="js-select form-select form-select-borderless tom-select-custom-form-select-invite-user tom-select-form-select-ps-0" autocomplete="off"
                                    data-hs-tom-select-options='{
                                      "searchInDropdown": false,
                                      "hideSearch": true,
                                      "dropdownWidth": "11rem"
                                    }'>
                              <option value="guest" selected>Guest</option>
                              <option value="can edit">Can edit</option>
                              <option value="can comment">Can comment</option>
                              <option value="full access">Full access</option>
                              <option value="remove" data-option-template='<div class="text-danger">Remove</div>'>Remove</option>
                            </select>
                          </div>
                          <!-- End Select -->
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                </li>
                <!-- End List Group Item -->

                <!-- List Group Item -->
                <li>
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <div class="avatar avatar-sm avatar-circle">
                        <img class="avatar-img" src="@@autopath/assets/img/160x160/img9.jpg" alt="Image Description">
                      </div>
                    </div>

                    <div class="flex-grow-1 ms-3">
                      <div class="row align-items-center">
                        <div class="col-sm">
                          <h5 class="text-body mb-0">Ella Lauda <i class="tio-verified text-primary" data-toggle="tooltip" data-placement="top" title="Top endorsed"></i></h5>
                          <span class="d-block fs-6">Markvt@site.com</span>
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-auto">
                          <!-- Select -->
                          <div class="tom-select-custom tom-select-custom-sm-end">
                            <select class="js-select form-select form-select-borderless tom-select-custom-form-select-invite-user tom-select-form-select-ps-0" autocomplete="off"
                                    data-hs-tom-select-options='{
                                      "searchInDropdown": false,
                                      "hideSearch": true,
                                      "dropdownWidth": "11rem"
                                    }'>
                              <option value="guest" selected>Guest</option>
                              <option value="can edit">Can edit</option>
                              <option value="can comment">Can comment</option>
                              <option value="full access">Full access</option>
                              <option value="remove" data-option-template='<div class="text-danger">Remove</div>'>Remove</option>
                            </select>
                          </div>
                          <!-- End Select -->
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                </li>
                <!-- End List Group Item -->

                <!-- List Group Item -->
                <li>
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <span class="icon icon-soft-dark icon-sm icon-circle">
                        <i class="bi-people-fill"></i>
                      </span>
                    </div>

                    <div class="flex-grow-1 ms-3">
                      <div class="row align-items-center">
                        <div class="col-sm">
                          <h5 class="text-body mb-0">#conference</h5>
                          <span class="d-block fs-6">3 members</span>
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-auto">
                          <!-- Select -->
                          <div class="tom-select-custom tom-select-custom-sm-end">
                            <select class="js-select form-select form-select-borderless tom-select-custom-form-select-invite-user tom-select-form-select-ps-0" autocomplete="off"
                                    data-hs-tom-select-options='{
                                      "searchInDropdown": false,
                                      "hideSearch": true,
                                      "dropdownWidth": "11rem"
                                    }'>
                              <option value="guest" selected>Guest</option>
                              <option value="can edit">Can edit</option>
                              <option value="can comment">Can comment</option>
                              <option value="full access">Full access</option>
                              <option value="remove" data-option-template='<div class="text-danger">Remove</div>'>Remove</option>
                            </select>
                          </div>
                          <!-- End Select -->
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                </li>
                <!-- End List Group Item -->
              </ul>

              <div class="d-grid gap-3">
                <!-- Form Switch -->
                <label class="row form-check form-switch" for="addTeamPreferencesNewProjectSwitch1">
                  <span class="col-8 col-sm-9 ms-0">
                    <i class="bi-bell text-primary me-3"></i>
                    <span class="text-dark">Inform all project members</span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="addTeamPreferencesNewProjectSwitch1" checked>
                  </span>
                </label>
                <!-- End Form Switch -->

                <!-- Form Switch -->
                <label class="row form-check form-switch" for="addTeamPreferencesNewProjectSwitch2">
                  <span class="col-8 col-sm-9 ms-0">
                    <i class="bi-chat-left-dots text-primary me-3"></i>
                    <span class="text-dark">Show team activity</span>
                  </span>
                  <span class="col-4 col-sm-3 text-end">
                    <input type="checkbox" class="form-check-input" id="addTeamPreferencesNewProjectSwitch2">
                  </span>
                </label>
                <!-- End Form Switch -->
              </div>

              <!-- Footer -->
              <div class="d-sm-flex align-items-center mt-5">
                <button type="button" class="btn btn-ghost-secondary mb-3 mb-sm-0 me-2"
                   data-hs-step-form-prev-options='{
                     "targetSelector": "#createProjectStepTerms"
                   }'>
                  <i class="bi-chevron-left"></i> Previous step
                </button>

                <div class="d-flex justify-content-end gap-3 ms-auto">
                  <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                  <button id="createProjectFinishBtn" type="button" class="btn btn-primary">Create project</button>
                </div>
              </div>
              <!-- End Footer -->
            </div>
          </div>
          <!-- End Content Step Form -->

          <!-- Message Body -->
          <div id="createProjectStepSuccessMessage" style="display:none;">
            <div class="text-center">
              <img class="img-fluid mb-3" src="@@autopath/assets/svg/illustrations/oc-hi-five.svg" alt="Image Description" data-hs-theme-appearance="default" style="max-width: 15rem;">
              <img class="img-fluid mb-3" src="@@autopath/assets/svg/illustrations-light/oc-hi-five.svg" alt="Image Description" data-hs-theme-appearance="dark" style="max-width: 15rem;">

              <div class="mb-4">
                <h2>Successful!</h2>
                <p>New project has been successfully created.</p>
              </div>

              <div class="d-flex justify-content-center gap-3">
                <a class="btn btn-white" href="@@autopath/projects.html">
                  <i class="bi-chevron-left"></i> Back to projects
                </a>

                <a class="btn btn-primary" href="javascript:;" data-toggle="modal" data-target="#newProjectModal">
                  <i class="bi-building"></i> Add new project
                </a>
              </div>
            </div>
          </div>
          <!-- End Message Body -->
        </form>
        <!-- End Step Form -->
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>
