<div class="modal fade" id="productsAdvancedFeaturesModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi-x-lg"></i>
        </button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <div class="text-center mb-7">
          <h4 class="h1">Advanced features</h4>
          <p>"Compare to" Price, Bulk Discount Pricing, Inventory Tracking</p>

          <a class="btn btn-primary" href="#">
            <i class="bi-star-fill me-1"></i> Upgrade to get these features
          </a>
        </div>

        <!-- Media -->
        <div class="d-flex">
          <div class="flex-shrink-0 mb-3 mb-sm-0">
            <img class="avatar avatar-lg avatar-4x3" src="@@autopath/assets/svg/illustrations/oc-money-profits.svg" alt="Image Description" data-hs-theme-appearance="default">
            <img class="avatar avatar-lg avatar-4x3" src="@@autopath/assets/svg/illustrations-light/oc-money-profits.svg" alt="Image Description" data-hs-theme-appearance="dark">
          </div>

          <div class="flex-grow-1 ms-4">
            <h4>"Compare to" price</h4>
            <p>Use this feature when you want to put a product on sale or show savings off suggested retail pricing.</p>
          </div>
        </div>
        <!-- End Media -->

        <hr class="my-4">

        <!-- Media -->
        <div class="d-flex">
          <div class="flex-shrink-0 mb-3 mb-sm-0">
            <img class="avatar avatar-lg avatar-4x3" src="@@autopath/assets/svg/illustrations/oc-discount.svg" alt="Image Description" data-hs-theme-appearance="default">
            <img class="avatar avatar-lg avatar-4x3" src="@@autopath/assets/svg/illustrations-light/oc-discount.svg" alt="Image Description" data-hs-theme-appearance="dark">
          </div>

          <div class="flex-grow-1 ms-4">
            <h4>Bulk discount pricing</h4>
            <p>Encourage higher purchase quantities with volume discounts.</p>
          </div>
        </div>
        <!-- End Media -->

        <hr class="my-4">

        <!-- Media -->
        <div class="d-flex">
          <div class="flex-shrink-0 mb-3 mb-sm-0">
            <img class="avatar avatar-lg avatar-4x3" src="@@autopath/assets/svg/illustrations/oc-collection.svg" alt="Image Description" data-hs-theme-appearance="default">
            <img class="avatar avatar-lg avatar-4x3" src="@@autopath/assets/svg/illustrations-light/oc-collection.svg" alt="Image Description" data-hs-theme-appearance="dark">
          </div>

          <div class="flex-grow-1 ms-4">
            <h4>Inventory tracking</h4>
            <p>Automatically keep track of product availability and receive notifications when inventory levels get low.</p>
          </div>
        </div>
        <!-- End Media -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="modal-footer gap-3">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        <button type="button" class="btn btn-primary">Upgrade now</button>
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>
