<div class="modal fade" id="shareWithPeopleModal" tabindex="-1" aria-labelledby="shareWithPeopleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareWithPeopleModalLabel">Invite users</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <!-- Form -->
        <div class="mb-4">
          <div class="input-group mb-2 mb-sm-0">
            <input type="text" class="form-control" name="fullName" placeholder="Search name or emails" aria-label="Search name or emails">

            <div class="input-group-append input-group-append-last-sm-down-none">
              <!-- Select -->
              <div class="tom-select-custom tom-select-custom-end">
                <select class="js-select form-select tom-select-custom-form-select-invite-user" autocomplete="off"
                        data-hs-tom-select-options='{
                          "searchInDropdown": false,
                          "hideSearch": true,
                          "dropdownWidth": "11rem"
                        }'>
                  <option value="guest" selected>Guest</option>
                  <option value="can edit">Can edit</option>
                  <option value="can comment">Can comment</option>
                  <option value="full access">Full access</option>
                </select>
              </div>
              <!-- End Select -->

              <a class="btn btn-primary d-none d-sm-inline-block" href="javascript:;">Invite</a>
            </div>
          </div>

          <a class="btn btn-primary w-100 d-sm-none" href="javascript:;">Invite</a>
        </div>
        <!-- End Form -->

        <!-- List Group -->
        <ul class="list-unstyled list-py-2">
          <!-- Item -->
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <span class="icon icon-soft-dark icon-sm icon-circle">
                  <i class="bi-people-fill"></i>
                </span>
              </div>

              <div class="flex-grow-1 ms-3">
                <div class="row align-items-center">
                  <div class="col-sm">
                    <h5 class="text-body mb-0">#digitalmarketing</h5>
                    <span class="d-block fs-6">8 members</span>
                  </div>
                  <!-- End Col -->

                  <div class="col-sm-auto">
                    <!-- Select -->
                    <div class="tom-select-custom tom-select-custom-sm-end">
                      <select class="js-select form-select form-select-borderless tom-select-custom-form-select-invite-user tom-select-form-select-ps-0" autocomplete="off"
                              data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true,
                                "dropdownWidth": "11rem"
                              }'>
                        <option value="guest">Guest</option>
                        <option value="can edit" selected>Can edit</option>
                        <option value="can comment">Can comment</option>
                        <option value="full access">Full access</option>
                        <option value="remove" data-option-template='<div class="text-danger">Remove</div>'>Remove</option>
                      </select>
                    </div>
                    <!-- End Select -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </div>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <div class="avatar avatar-sm avatar-circle">
                  <img class="avatar-img" src="@@autopath/assets/img/160x160/img3.jpg" alt="Image Description">
                </div>
              </div>

              <div class="flex-grow-1 ms-3">
                <div class="row align-items-center">
                  <div class="col-sm">
                    <h5 class="text-body mb-0">David Harrison</h5>
                    <span class="d-block fs-6">david@site.com</span>
                  </div>
                  <!-- End Col -->

                  <div class="col-sm-auto">
                    <!-- Select -->
                    <div class="tom-select-custom tom-select-custom-sm-end">
                      <select class="js-select form-select form-select-borderless tom-select-custom-form-select-invite-user tom-select-form-select-ps-0" autocomplete="off"
                              data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true,
                                "dropdownWidth": "11rem"
                              }'>
                        <option value="guest">Guest</option>
                        <option value="can edit" selected>Can edit</option>
                        <option value="can comment">Can comment</option>
                        <option value="full access">Full access</option>
                        <option value="remove" data-option-template='<div class="text-danger">Remove</div>'>Remove</option>
                      </select>
                    </div>
                    <!-- End Select -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </div>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <div class="avatar avatar-sm avatar-circle">
                  <img class="avatar-img" src="@@autopath/assets/img/160x160/img9.jpg" alt="Image Description">
                </div>
              </div>

              <div class="flex-grow-1 ms-3">
                <div class="row align-items-center">
                  <div class="col-sm">
                    <h5 class="text-body mb-0">Ella Lauda <i class="bi-patch-check-fill text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Top endorsed"></i></h5>
                    <span class="d-block fs-6">Markvt@site.com</span>
                  </div>
                  <!-- End Col -->

                  <div class="col-sm-auto">
                    <!-- Select -->
                    <div class="tom-select-custom tom-select-custom-sm-end">
                      <select class="js-select form-select form-select-borderless tom-select-custom-form-select-invite-user tom-select-form-select-ps-0" autocomplete="off"
                              data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true,
                                "dropdownWidth": "11rem"
                              }'>
                        <option value="guest">Guest</option>
                        <option value="can edit" selected>Can edit</option>
                        <option value="can comment">Can comment</option>
                        <option value="full access">Full access</option>
                        <option value="remove" data-option-template='<div class="text-danger">Remove</div>'>Remove</option>
                      </select>
                    </div>
                    <!-- End Select -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </div>
            </div>
          </li>
          <!-- End Item -->

          <!-- Item -->
          <li>
            <div class="d-flex">
              <div class="flex-shrink-0">
                <span class="icon icon-soft-dark icon-sm icon-circle">
                  <i class="bi-people-fill"></i>
                </span>
              </div>

              <div class="flex-grow-1 ms-3">
                <div class="row align-items-center">
                  <div class="col-sm">
                    <h5 class="text-body mb-0">#conference</h5>
                    <span class="d-block fs-6">3 members</span>
                  </div>
                  <!-- End Col -->

                  <div class="col-sm-auto">
                    <!-- Select -->
                    <div class="tom-select-custom tom-select-custom-sm-end">
                      <select class="js-select form-select form-select-borderless tom-select-custom-form-select-invite-user tom-select-form-select-ps-0" autocomplete="off"
                              data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true,
                                "dropdownWidth": "11rem"
                              }'>
                        <option value="guest">Guest</option>
                        <option value="can edit" selected>Can edit</option>
                        <option value="can comment">Can comment</option>
                        <option value="full access">Full access</option>
                        <option value="remove" data-option-template='<div class="text-danger">Remove</div>'>Remove</option>
                      </select>
                    </div>
                    <!-- End Select -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </div>
            </div>
          </li>
          <!-- End Item -->
        </ul>
        <!-- End List Group -->

        <!-- Form Switch -->
        <label class="row form-check form-switch" for="addTeamPreferencesNewProjectSwitch1">
          <span class="col-8 col-sm-9 ms-0">
            <i class="bi-bell text-primary me-2"></i>
            <span class="text-dark">Inform all project members</span>
          </span>
          <span class="col-4 col-sm-3 text-end">
            <input type="checkbox" class="form-check-input" id="addTeamPreferencesNewProjectSwitch1" checked>
          </span>
        </label>
        <!-- End Form Switch -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="modal-footer">
        <div class="row align-items-center flex-grow-1 mx-n2">
          <div class="col-sm-9 mb-2 mb-sm-0">
            <input type="hidden" id="publicShareLinkClipboard" value="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/">

            <p class="modal-footer-text">The public share <a class="link" href="#">link settings</a>
              <i class="bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="The public share link allows people to view the project without giving access to full collaboration features."></i>
            </p>
          </div>
          <!-- End Col -->

          <div class="col-sm-3 text-sm-end">
            <a class="js-clipboard btn btn-white btn-sm text-nowrap" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard!"
               data-hs-clipboard-options='{
                "type": "tooltip",
                "successText": "Copied!",
                "contentTarget": "#publicShareLinkClipboard",
                "container": "#shareWithPeopleModal"
               }'>
            <i class="bi-link me-1"></i> Copy link</a>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>