<div class="modal fade" id="welcomeMessageModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-close">
        <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi-x-lg"></i>
        </button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body p-sm-5">
        <div class="text-center">
          <div class="w-75 w-sm-50 mx-auto mb-4">
            <img class="img-fluid" src="@@autopath/assets/svg/illustrations/oc-collaboration.svg" alt="Image Description" data-hs-theme-appearance="default">
            <img class="img-fluid" src="@@autopath/assets/svg/illustrations-light/oc-collaboration.svg" alt="Image Description" data-hs-theme-appearance="dark">
          </div>

          <h4 class="h1">Welcome to Front</h4>

          <p>We're happy to see you in our community.</p>
        </div>
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="modal-footer d-block text-center py-sm-5">
        <small class="text-cap text-muted">Trusted by the world's best teams</small>

        <div class="w-85 mx-auto">
          <div class="row justify-content-between">
            <div class="col">
              <img class="img-fluid" src="@@autopath/assets/svg/brands/gitlab-gray.svg" alt="Image Description">
            </div>
            <div class="col">
              <img class="img-fluid" src="@@autopath/assets/svg/brands/fitbit-gray.svg" alt="Image Description">
            </div>
            <div class="col">
              <img class="img-fluid" src="@@autopath/assets/svg/brands/flow-xo-gray.svg" alt="Image Description">
            </div>
            <div class="col">
              <img class="img-fluid" src="@@autopath/assets/svg/brands/layar-gray.svg" alt="Image Description">
            </div>
          </div>
        </div>
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>
