<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/332babb4-eef8-4c78-8cc3-1dd07a958692/resourceGroups/rg-adventureworks/providers/Microsoft.Web/sites/app-adventureworks-wcf-salespersonservice</ResourceId>
    <ResourceGroup>rg-adventureworks</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://app-adventureworks-wcf-salespersonservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>app-adventureworks-wcf-salespersonservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>app-adventureworks-wcf-salespersonservice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$app-adventureworks-wcf-salespersonservice</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AWContext" Order="1" Enabled="False">
          <Destination Path="Data Source=ng-sqldb-adventureworks.database.windows.net;Initial Catalog=sqldb-adventureworks" Name="Server=ng-sqldb-adventureworks.database.windows.net;Initial Catalog=sqldb-adventureworks" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AW.Persistence.EntityFramework.AWContext, AW.Persistence.EntityFramework" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AWContext-Web.config Connection String">
      <ParameterValue>Server=ng-sqldb-adventureworks.database.windows.net;Initial Catalog=sqldb-adventureworks</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>