<header id="header" class="navbar navbar-expand-lg navbar-fixed navbar-container navbar-bordered bg-white">
  <div class="navbar-nav-wrap">
    <!-- Logo -->
    @@include("../layouts-components/navbar-logo.html")
    <!-- End Logo -->

    <div class="navbar-nav-wrap-content-start">
      <!-- Navbar Vertical Toggle -->
      @@include("../layouts-components/navbar-vertical-aside-toggle.html")
      <!-- End Navbar Vertical Toggle -->
    </div>

    <!-- Secondary Content -->
    <div class="navbar-nav-wrap-content-end">
      <!-- Navbar -->
      <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
          <!-- Notification -->
          @@include("../layouts-components/dropdown-notifications.html")
          <!-- End Notification -->
        </li>

        <li class="nav-item d-none d-sm-inline-block">
          <!-- Apps -->
          @@include("../layouts-components/dropdown-apps.html")
          <!-- End Apps -->
        </li>

        <li class="nav-item d-none d-sm-inline-block">
          <!-- Activity -->
          <button class="btn btn-ghost-secondary btn-icon rounded-circle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasActivityStream" aria-controls="offcanvasActivityStream">
            <i class="bi-x-diamond"></i>
          </button>
          <!-- Activity -->
        </li>
        
        <li class="nav-item">
          <!-- Account -->
          @@include("../layouts-components/dropdown-user.html")
          <!-- End Account -->
        </li>
      </ul>
      <!-- End Navbar -->
    </div>
    <!-- End Secondary Content -->
  </div>
</header>