<header id="header" class="navbar navbar-expand-lg navbar-center navbar-light bg-white navbar-absolute-top navbar-show-hide"
        data-hs-header-options='{
          "fixMoment": 0,
          "fixEffect": "slide"
        }'>
  <div class="container-lg">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Logo -->
      @@if(themeAppearance.layoutSkin === 'dark') {
        @@include("../layouts-components/navbar-single-logo-light.html")
      }
      @@if(themeAppearance.layoutSkin !== 'dark') {
        @@include("../layouts-components/navbar-single-logo.html")
      }
      <!-- End Logo -->

      <!-- Secondary Content -->
      <div class="navbar-nav-wrap-secondary-content">
        <!-- Style Switcher -->
        @@include("../layouts-components/darkmode-switcher-bottom.html")
        <!-- End Style Switcher -->

        <a class="btn btn-primary navbar-btn" href="@@autopath/index.html">Preview Demo</a>
      </div>
      <!-- End Secondary Content -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContainerNavDropdown" aria-controls="navbarContainerNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarContainerNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link py-2 py-lg-3" href="@@autopath/documentation/index.html">Documentation <span class="badge bg-dark rounded-pill ms-1">v2.1</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-2 py-lg-3" href="https://htmlstream.com/contact-us" target="_blank">Support <i class="bi-box-arrow-up-right small ms-1"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-2 py-lg-3" href="https://themes.getbootstrap.com/product/front-admin-dashboard-template/" target="_blank">Buy Now</a>
          </li>
        </ul>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
