<div class="dropdown @@if(dropup === 'true'){dropup}">
  <button type="button" class="btn btn-ghost-secondary btn-icon rounded-circle" id="selectThemeDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
    
  </button>

  <div class="dropdown-menu navbar-dropdown-menu navbar-dropdown-menu-borderless" aria-labelledby="selectThemeDropdown">
    <a class="dropdown-item" href="#" data-icon="bi-moon-stars" data-value="auto">
      <i class="bi-moon-stars me-2"></i>
      <span class="text-truncate" title="Auto (system default)">Auto (system default)</span>
    </a>
    <a class="dropdown-item" href="#" data-icon="bi-brightness-high" data-value="default">
      <i class="bi-brightness-high me-2"></i>
      <span class="text-truncate" title="Default (light mode)">Default (light mode)</span>
    </a>
    <a class="dropdown-item active" href="#" data-icon="bi-moon" data-value="dark">
      <i class="bi-moon me-2"></i>
      <span class="text-truncate" title="Dark">Dark</span>
    </a>
  </div>
</div>
