<li class="nav-item">
  <a class="nav-icon @@if(compact=='index.html'){active}" href="@@autopath/index.html">
    <i class="bi-house-door"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='users.html'){active}" href="@@autopath/users.html">
    <i class="bi-people"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='authentication-login-basic.html'){active}" href="@@autopath/authentication-login-basic.html">
    <i class="bi-shield-lock"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='welcome-page.html'){active}" href="@@autopath/welcome-page.html">
    <i class="bi-eye"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='apps-kanban.html'){active}" href="@@autopath/apps-kanban.html">
    <i class="bi-kanban"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='layouts.html'){active}" href="@@autopath/layouts/index.html">
    <i class="bi-grid-1x2"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='documentation/index.html'){active}" href="@@autopath/documentation/index.html">
    <i class="bi-book"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-icon @@if(compact=='documentation/typography.html'){active}" href="@@autopath/documentation/typography.html">
    <i class="bi-layers"></i>
  </a>
</li>