<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEcommerceProductFilter" aria-labelledby="offcanvasEcommerceProductFilterLabel">
  <div class="offcanvas-header">
    <h4 id="offcanvasEcommerceProductFilterLabel" class="mb-0">Filters</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <span class="text-cap small">Product vendor</span>

    <div class="row">
      <div class="col-6">
        <div class="d-grid gap-2 mb-2">
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio1">
            <label class="form-check-label" for="productVendorFilterRadio1">Google</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio2">
            <label class="form-check-label" for="productVendorFilterRadio2">Topman</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio3">
            <label class="form-check-label" for="productVendorFilterRadio3">RayBan</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio4">
            <label class="form-check-label" for="productVendorFilterRadio4">Mango</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio5">
            <label class="form-check-label" for="productVendorFilterRadio5">Calvin Klein</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio6">
            <label class="form-check-label" for="productVendorFilterRadio6">Givenchy</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio7">
            <label class="form-check-label" for="productVendorFilterRadio7">Asos</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio8">
            <label class="form-check-label" for="productVendorFilterRadio8">Apple</label>
          </div>
          <!-- End Form Check -->
        </div>
      </div>

      <div class="col-6">
        <div class="d-grid gap-2 mb-2">
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio9">
            <label class="form-check-label" for="productVendorFilterRadio9">Times</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio10">
            <label class="form-check-label" for="productVendorFilterRadio10">Asos</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio11">
            <label class="form-check-label" for="productVendorFilterRadio11">Nike Jordan</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio12">
            <label class="form-check-label" for="productVendorFilterRadio12">VA RVCA</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio13">
            <label class="form-check-label" for="productVendorFilterRadio13">Levis</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio14">
            <label class="form-check-label" for="productVendorFilterRadio14">Beats</label>
          </div>
          <!-- End Form Check -->
          
          <!-- Form Check -->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productVendorFilterRadio15">
            <label class="form-check-label" for="productVendorFilterRadio15">Clarks</label>
          </div>
          <!-- End Form Check -->
        </div>
      </div>
    </div>
    <!-- End Row -->

    <a class="link mt-2" href="javascript:;">
      <i class="bi-x"></i> Clear
    </a>

    <hr>

    <span class="text-cap small">Availability</span>

    <div class="d-grid gap-2 mb-2">
      <!-- Form Check -->
      <div class="form-check">
        <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productAvailabilityFilterRadio1">
        <label class="form-check-label" for="productAvailabilityFilterRadio1">Available on Online Store</label>
      </div>
      <!-- End Form Check -->
      
      <!-- Form Check -->
      <div class="form-check">
        <input class="form-check-input" type="radio" name="productAvailabilityFilterRadio" value="" id="productAvailabilityFilterRadio2">
        <label class="form-check-label" for="productAvailabilityFilterRadio2">Unavailable on Online Store</label>
      </div>
      <!-- End Form Check -->
    </div>

    <a class="link mt-2" href="javascript:;">
      <i class="bi-x"></i> Clear
    </a>

    <hr>

    <span class="text-cap small">Tagged with</span>

    <div class="mb-2">
      <input type="text" class="form-control" name="tagsName" id="tagsLabel" placeholder="Enter tags here" aria-label="Enter tags here">
    </div>

    <a class="link mt-2" href="javascript:;">
      <i class="bi-x"></i> Clear
    </a>

    <hr>

    <span class="text-cap small">Product type</span>

    <div class="d-grid gap-2 mb-2">
      <!-- Form Check -->
      <div class="form-check">
        <input class="form-check-input" type="radio" name="productTypeFilterRadio" value="" id="productTypeFilterRadio1">
        <label class="form-check-label" for="productTypeFilterRadio1">Shoes</label>
      </div>
      <!-- End Form Check -->

      <!-- Form Check -->
      <div class="form-check">
        <input class="form-check-input" type="radio" name="productTypeFilterRadio" value="" id="productTypeFilterRadio2">
        <label class="form-check-label" for="productTypeFilterRadio2">Accessories</label>
      </div>
      <!-- End Form Check -->
      
      <!-- Form Check -->
      <div class="form-check">
        <input class="form-check-input" type="radio" name="productTypeFilterRadio" value="" id="productTypeFilterRadio3">
        <label class="form-check-label" for="productTypeFilterRadio3">Clothing</label>
      </div>
      <!-- End Form Check -->
      
      <!-- Form Check -->
      <div class="form-check">
        <input class="form-check-input" type="radio" name="productTypeFilterRadio" value="" id="productTypeFilterRadio4">
        <label class="form-check-label" for="productTypeFilterRadio4">Electronics</label>
      </div>
      <!-- End Form Check -->
    </div>

    <a class="link mt-2" href="javascript:;">
      <i class="bi-x"></i> Clear
    </a>

    <hr>

    <span class="text-cap small">Collection</span>

    <!-- Input Group -->
    <div class="input-group input-group-merge mb-2">
      <div class="input-group-prepend input-group-text">
        <i class="bi-search"></i>
      </div>
      
      <input type="search" class="form-control" placeholder="Search for collections" aria-label="Search for collections">
    </div>
    <!-- End Input Group -->

    <!-- Form Check -->
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" value="" id="productCollectionFilterRadio1">
      <label class="form-check-label" for="productCollectionFilterRadio1">Home page</label>
    </div>
    <!-- End Form Check -->

    <a class="link mt-2" href="javascript:;">
      <i class="bi-x"></i> Clear
    </a>
  </div>
  <!-- End Body -->

  <!-- Footer -->
  <div class="offcanvas-footer">
    <div class="row gx-2">
      <div class="col">
        <div class="d-grid">
          <button type="button" class="btn btn-white">Clear all filters</button>
        </div>
      </div>
      <!-- End Col -->

      <div class="col">
        <div class="d-grid">
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Footer -->
</div>