<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasActivityStream" aria-labelledby="offcanvasActivityStreamLabel">
  <div class="offcanvas-header">
    <h4 id="offcanvasActivityStreamLabel" class="mb-0">Activity stream</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- Step -->
    <ul class="step step-icon-sm step-avatar-sm">
      <!-- Step Item -->
      <li class="step-item">
        <div class="step-content-wrapper">
          <div class="step-avatar">
            <img class="step-avatar" src="@@autopath/assets/img/160x160/img9.jpg" alt="Image Description">
          </div>

          <div class="step-content">
            <h5 class="mb-1">Iana Robinson</h5>

            <p class="fs-5 mb-1">Added 2 files to task <a class="text-uppercase" href="#"><i class="bi-journal-bookmark-fill"></i> Fd-7</a></p>

            <ul class="list-group list-group-sm">
              <!-- List Item -->
              <li class="list-group-item list-group-item-light">
                <div class="row gx-1">
                  <div class="col-6">
                    <!-- Media -->
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img class="avatar avatar-xs" src="@@autopath/assets/svg/brands/excel-icon.svg" alt="Image Description">
                      </div>
                      <div class="flex-grow-1 text-truncate ms-2">
                        <span class="d-block fs-6 text-dark text-truncate" title="weekly-reports.xls">weekly-reports.xls</span>
                        <span class="d-block small text-muted">12kb</span>
                      </div>
                    </div>
                    <!-- End Media -->
                  </div>
                  <!-- End Col -->

                  <div class="col-6">
                    <!-- Media -->
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img class="avatar avatar-xs" src="@@autopath/assets/svg/brands/word-icon.svg" alt="Image Description">
                      </div>
                      <div class="flex-grow-1 text-truncate ms-2">
                        <span class="d-block fs-6 text-dark text-truncate" title="weekly-reports.xls">weekly-reports.xls</span>
                        <span class="d-block small text-muted">4kb</span>
                      </div>
                    </div>
                    <!-- End Media -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </li>
              <!-- End List Item -->
            </ul>

            <span class="small text-muted text-uppercase">Now</span>
          </div>
        </div>
      </li>
      <!-- End Step Item -->

      <!-- Step Item -->
      <li class="step-item">
        <div class="step-content-wrapper">
          <span class="step-icon step-icon-soft-dark">B</span>

          <div class="step-content">
            <h5 class="mb-1">Bob Dean</h5>

            <p class="fs-5 mb-1">Marked <a class="text-uppercase" href="#"><i class="bi-journal-bookmark-fill"></i> Fr-6</a> as <span class="badge bg-soft-success text-success rounded-pill"><span class="legend-indicator bg-success"></span>"Completed"</span></p>

            <span class="small text-muted text-uppercase">Today</span>
          </div>
        </div>
      </li>
      <!-- End Step Item -->

      <!-- Step Item -->
      <li class="step-item">
        <div class="step-content-wrapper">
          <div class="step-avatar">
            <img class="step-avatar-img" src="@@autopath/assets/img/160x160/img3.jpg" alt="Image Description">
          </div>

          <div class="step-content">
            <h5 class="h5 mb-1">Crane</h5>

            <p class="fs-5 mb-1">Added 5 card to <a href="#">Payments</a></p>

            <ul class="list-group list-group-sm">
              <li class="list-group-item list-group-item-light">
                <div class="row gx-1">
                  <div class="col">
                    <img class="img-fluid rounded" src="@@autopath/assets/svg/components/card-1.svg" alt="Image Description">
                  </div>
                  <div class="col">
                    <img class="img-fluid rounded" src="@@autopath/assets/svg/components/card-2.svg" alt="Image Description">
                  </div>
                  <div class="col">
                    <img class="img-fluid rounded" src="@@autopath/assets/svg/components/card-3.svg" alt="Image Description">
                  </div>
                  <div class="col-auto align-self-center">
                    <div class="text-center">
                      <a href="#">+2</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <span class="small text-muted text-uppercase">May 12</span>
          </div>
        </div>
      </li>
      <!-- End Step Item -->

      <!-- Step Item -->
      <li class="step-item">
        <div class="step-content-wrapper">
          <span class="step-icon step-icon-soft-info">D</span>

          <div class="step-content">
            <h5 class="mb-1">David Lidell</h5>

            <p class="fs-5 mb-1">Added a new member to Front Dashboard</p>

            <span class="small text-muted text-uppercase">May 15</span>
          </div>
        </div>
      </li>
      <!-- End Step Item -->

      <!-- Step Item -->
      <li class="step-item">
        <div class="step-content-wrapper">
          <div class="step-avatar">
            <img class="step-avatar-img" src="@@autopath/assets/img/160x160/img7.jpg" alt="Image Description">
          </div>

          <div class="step-content">
            <h5 class="mb-1">Rachel King</h5>

            <p class="fs-5 mb-1">Marked <a class="text-uppercase" href="#"><i class="bi-journal-bookmark-fill"></i> Fr-3</a> as <span class="badge bg-soft-success text-success rounded-pill"><span class="legend-indicator bg-success"></span>"Completed"</span></p>

            <span class="small text-muted text-uppercase">Apr 29</span>
          </div>
        </div>
      </li>
      <!-- End Step Item -->

      <!-- Step Item -->
      <li class="step-item">
        <div class="step-content-wrapper">
          <div class="step-avatar">
            <img class="step-avatar-img" src="@@autopath/assets/img/160x160/img5.jpg" alt="Image Description">
          </div>

          <div class="step-content">
            <h5 class="mb-1">Finch Hoot</h5>

            <p class="fs-5 mb-1">Earned a "Top endorsed" <i class="bi-patch-check-fill text-primary"></i> badge</p>

            <span class="small text-muted text-uppercase">Apr 06</span>
          </div>
        </div>
      </li>
      <!-- End Step Item -->

      <!-- Step Item -->
      <li class="step-item">
        <div class="step-content-wrapper">
            <span class="step-icon step-icon-soft-primary">
              <i class="bi-person-fill"></i>
            </span>

          <div class="step-content">
            <h5 class="mb-1">Project status updated</h5>

            <p class="fs-5 mb-1">Marked <a class="text-uppercase" href="#"><i class="bi-journal-bookmark-fill"></i> Fr-3</a> as <span class="badge bg-soft-primary text-primary rounded-pill"><span class="legend-indicator bg-primary"></span>"In progress"</span></p>

            <span class="small text-muted text-uppercase">Feb 10</span>
          </div>
        </div>
      </li>
      <!-- End Step Item -->
    </ul>
    <!-- End Step -->

    <div class="d-grid">
      <a class="btn btn-white" href="javascript:;">View all <i class="bi-chevron-right"></i></a>
    </div>
  </div>
</div>