@model IEnumerable<Header>

<div class="btn-primary header">
    <div class="container">
        @foreach (var header in @Model)
        {
            <a class="header-back btn-primary" asp-area="" asp-controller="@header.Controller" asp-action="Index">@header.Text</a>
        }
    </div>
</div>