<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Adventureworks Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    <environment include="Development">
        <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script> -->
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">

    </environment>
    <!--<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet"> -->
    <!--<link href="~/css/stylesheet.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" /> -->
    <link href="~/css/themes/flatly/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800&display=swap" rel="stylesheet"> -->
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/pager.css" />
    <link rel="stylesheet" href="~/css/shared/components/header/header.css" />
    <link rel="stylesheet" href="~/css/basket/basket-status/basket-status.component.css" />
    <link rel="stylesheet" href="~/css/basket/basket.component.css" />
    <link rel="stylesheet" href="~/css/orders/orders-new/orders-new.component.css" />
</head>
<body>
    
    <!-- top section-->
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/">AdventureWorks Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="~/">Home</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a href="#" class="m-2"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <div class="dropdown m-2">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                @if (User.Identity!.IsAuthenticated)
                                {
                                    @User.Claims.Single(_ => _.Type == "given_name").Value
                                }
                                else
                                {
                                    <i class="fa-solid fa-circle-user"></i>
                                }
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-end">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item"><i class="fa-solid fa-circle-user"></i> Your account</a>
                                    <a class="dropdown-item"><i class="fa-solid fa-box"></i> Your orders</a>
                                    <hr class="dropdown-divider"/>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="SignOut"><i class="fa-solid fa-right-from-bracket"></i> Sign out</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-controller="Account" asp-action="SignIn">Sign in</a>
                                }
                            </div>
                        </div>
                        <a class="m-2" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div id="content">
        <!--menu-->
        <nav id="menu" class="navbar navbar-expand-sm navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @await Component.InvokeAsync("ProductMenu")
                    </ul>
                </div>
            </div>
        </nav>
        <!--menu end-->

        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <div id="footer" class="bg-primary text-white p-2">
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col">
                    <div class="ms-2">
                        <h4>Contact Us</h4>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="~/image/icon-phone.png">
                                    </div>
                                    <div class="col">
                                        Hotline Free 24/24:<br /><span><i class="fa fa-phone"></i><strong> (+800) 123 456 789</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <i class="fa fa-map-marker"></i> 622 Vernon Drive Flushing, NY 11354
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <i class="fa fa-envelope"></i> company123@gmail.com
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fab fa-facebook-square fa-2x"></i>
                                    </div>
                                    <div class="col-1">
                                        <i class="fab fa-skype fa-2x"></i>
                                    </div>
                                    <div class="col-1">
                                        <i class="fab fa-youtube fa-2x"></i>
                                    </div>
                                    <div class="col-1">
                                        <i class="fab fa-google-plus fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<ul>
                            <li><a href=""><i class="fab fa-facebook-square"</i></a></li>
                            <li><a href=""><i class="fab fa-skype"</i></a></li>
                            <li><a href=""><i class="fab fa-youtube-square"></i></a></li>
                            <li><a href=""><i class="fab fa-google-plus-square"></i></a></li>
                        </ul>*@
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col col_footer footer_padding">
                    <div class="footer-inner-matter">
                        <h4 class="wow fadeInUp">Information</h4>
                        <ul class="list-unstyled">
                            <li><a href="about.html" class="wow fadeInUp"> About Us</a></li>
                            <li><a href="#" class="wow fadeInUp"> Delivery Information</a></li>
                            <li><a href="#" class="wow fadeInUp"> Privacy Policy</a></li>
                            <li><a href="#" class="wow fadeInUp"> Terms &amp; Conditions</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- extra -->
                <div class="col col_footer footer_padding">
                    <div class="footer-inner-matter">
                        <h4 class="wow fadeInUp">Extras</h4>
                        <ul class="list-unstyled">
                            <li><a href="contact.html" class="wow fadeInUp"> Contact Us</a></li>
                            <li><a href="brands.html" class="wow fadeInUp"> Brands</a></li>
                            <li><a href="index.html" class="wow fadeInUp"> Specials</a></li>
                            <li><a href="return.html" class="wow fadeInUp"> Returns</a></li>
                            <li><a href="#" class="wow fadeInUp"> Gift Certificates</a></li>
                            <li><a href="#" class="wow fadeInUp"> Affiliate</a></li>
                            <li><a href="sitemap.html" class="wow fadeInUp"> Site Map</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <hr />
            <!-- newsletters -->
            <div class="row">
                <div class="col">
                    <h4>Join Our<span> Newsletter Now</span></h4>
                </div>
                <div class="col">
                    <p>Join 10.000+ subscribers and get a new discount coupon.</p>
                </div>
                <div class="col">
                    <form class="d-flex">
                        <input type="text" id="input-newsletter-email" class="form-control me-sm-2" placeholder="Enter Your Email Address here" value="" name="email" />
                        <a id="button-subsribe" class="btn btn-secondary btn-xs">Subscribe</a>
                    </form>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-8">
                    <p>© Copyright 2021 by AdventureWorks</p>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-1">
                            <i class="fab fa-cc-mastercard fa-2x"></i>
                        </div>
                        <div class="col-1">
                            <i class="fab fa-cc-discover fa-2x"></i>
                        </div>
                        <div class="col-1">
                            <i class="fab fa-cc-visa fa-2x"></i>
                        </div>
                        <div class="col-1">
                            <i class="fab fa-cc-paypal fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>