@model AW.UI.Web.Store.ViewModels.Cart.CartComponentViewModel
@using AW.UI.Web.Store.Services

@inject IIdentityParser<ApplicationUser> UserManager

@{
    ViewData["Title"] = "My Cart";
}

<div id="cart" class="btn-group btn-block">
    <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-inverse btn-block btn-lg"><p class="cart_data_p"><i class="fa fa-shopping-cart faicons"></i> My Cart <span class="cart_qut">@Model.ItemsCount</span></p> </button>
    <ul class="dropdown-menu pull-right">
        <li>
            @await Component.InvokeAsync("CartList", new { user = UserManager.Parse(User) })
        </li>
    </ul>
</div>